<html>
<head>
    <title>Customer App</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<div class="container">
    <div class="homeBackground"></div>
    <h1 class="homeTitle">code[pool];</h1>
</div>
</body>
</html>



