<html>
<head>
    <title>Welcome <%= username %></title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<div class="container">
    <h1 class="welcomeMsg">Hello ! <%= username %> welcome to code [pool] !</h1>

</div>
</body>
</html>



